$background-color: hsl(0, 0%, 100%);
$banner-text: hsl(303, 10%, 53%);
$ratings-box-bg: hsl(300, 24%, 96%);
$cards-text: hsl(0, 0%, 100%);
$review-card-secondary-text-color: hsl(333, 80%, 67%);
$dark-Magenta: hsl(300, 43%, 22%);
$text-white: hsl(0, 0%, 100%);
